<ul class="nav nav-tabs navbar-dark bg-dark">
    <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Básicas</a>
        <div class="dropdown-menu">
            <a class="dropdown-item active" href="{% url 'document_types' %}">Tipo de Documento</a>
            <a class="dropdown-item" href="{% url 'thirds' %}">Terceros</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Tipos de Activos</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Activos</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Dar de Baja</a>
            <a class="dropdown-item" href="#">Traslados</a>
        </div>
    </li>
  </ul>